{% extends 'catalog/main.html'%}


{% block content%}
<br />

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Books</h5>
		</div>
		<div class="card card-body">
			<table class="table">
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Publisher</th>
					<th>Year of Publication</th>
					<th>ISBN</th>
					<th>Status</th>
					<th>Available On</th>
					<th>Reviews</th>
					<th></th>
				</tr>

				{% for i in books %}
					<tr>
						<td>{{i.book}}</td>
						<td>{{i.book.author}}</td>
						<td>{{i.book.publisher}}</td>
						<td>{{i.book.yearPub}}</td>
						<td>{{i.book.isbn}}</td>
						<td>{{i.status}}</td>
						<td>{{i.due_back}}</td>
						<td width="45px">{{i.book.review}}</td>
						{% if i.status == 'a' %}
							<td><a href="">Reserve</a></td>
						{% else %}
							<td></td>
						{% endif %}
					</tr>
				{% endfor %}
					 
				
			</table>
		</div>
	</div>
</div>
{% endblock content%}
